@model EntityLayer.Category
<form method="post" asp-action="Delete">
    <input asp-for="CategoryId" hidden />
    <div class="border pt-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary">Kategori Sil</h2>
            <hr />
        </div>
        <div asp-validation-summary="All"></div>
        <div class="mb-3">
            <label asp-for="CategoryName">Kategori Başlığı</label>
            <input asp-for="CategoryName" disabled class="form-control" />

        </div>
        <div class="mb-3">
            <label asp-for="CategoryDescription">Kategori Açıklaması</label>
            <input asp-for="CategoryDescription" disabled class="form-control" />

        </div>
        <button type="submit" class="btn btn-danger" style="widht:150px">Sil</button>
        <a asp-controller="AddDuyuru" asp-action="duyuruEkleme" class="btn btn-secondary" style="150px">
            Listeye Dön
        </a>
    </div>
</form>
@section Scripts
{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}